---
---

/* Import Minima base theme */
@import "minima";

.site-header,
.site-footer {
    background-color: rgba(220, 235, 255, 0.8);
}

.post-header {
  background: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.post-title {
  background: none !important;
  padding: 0 !important;
  margin-top: 10px !important;
}

.post {
  background: none !important;
  padding: 0 !important;
}

main.page-content {
    padding: 0px;
    background-color: rgba(220, 235, 255, 0.2);
}